@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Legacy Button Pulse Animation */
  .pulse-dot {
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(212, 175, 55, 0.7);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 6px rgba(212, 175, 55, 0);
    }
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(212, 175, 55, 0);
    }
  }
}
